<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}

  <body>
    {% include 'top-nav.html' %}

    <div class="main">
      <div class="container-xl my-md-4 bd-layout">
        <div class="row justify-content-md-center">
          <div class="col-2">
              {% include 'left-nav.html' %}
          </div>
          <div class="col-8">
            <main class="bd-main order-1">

              {% block content %}

              {% endblock %}
            </main>
          </div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
  </body>
</html>
