{% extends 'base.html' %}

{% block title %}Mastering the Marketplace{% endblock %}

{% block content %}

    <h2 style="margin-bottom: 20px;">Mastering the Marketplace</h2>

    <div style="margin-bottom: 50px;">
        You have reached the the most comprehensive on-demand content available to help you develop transactable offers for the
        Microsoft commercial marketplace. This site features instructional videos, 
        interactive hands-on labs, and sample code to provide a better understanding of the marketplace.
    </div>

    {% include 'news_carousel.html' %}
    
    <!-- Card row -->
    <div>
        <div class="row card-row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mastering Partner Center</h5>
                        <div class="card-text">
                            <p>
                                Partner Center is the web portal used to create and publish offers.
                            </p>
                            <p>
                                Learn more about Partner Center in this ever-expanding content demonstarting how to use the portal to publish offers and more.
                            </p>
                        </div>
                        <a href="{{ url_for('content.playlist', playlist_id='8fa11e39-67c7-4d0e-92ff-b478aa72a04c') }}" class="btn btn-primary">Learn it now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mastering the SaaS Accelerator</h5>
                        <div class="card-text">
                        <p>
                            Instead of building your own custom SaaS solution, consider using the SaaS Accelerator. 
                        </p>
                        <p>
                            The SaaS accelerator is a turnkey solution meeting the technical requirements for a SaaS offer and can be installed in 20 minutes.                        
                        </p>
                        </div>
                        <a href="{{ url_for('content.playlist', playlist_id='4643d653-296a-490b-85ad-57fbd57dbfd1') }}" class="btn btn-primary">Learn it now</a>
                        <a href="https://aka.ms/SaaSAccelerator" class="btn btn-primary" target="_blank">The GitHub project</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row card-row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mastering SaaS offers</h5>
                        <div class="card-text">
                            <p>
                                This comprehensive content takes you through all you need to get a custom SaaS offer on the marketplace. 
                            </p>
                            <p>
                                From landing pages to webhooks, the course will help you get your SaaS offer up and 
                                running in days instead of weeks.
                            </p>
                        </div>
                        <a href="{{ url_for('content.playlist', playlist_id='c76d64fc-8c7e-4ee3-bfbd-2f5313231ff7') }}" class="btn btn-primary">Learn it now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mastering container offers</h5>
                            <div class="card-text">
                                <p>
                                    Do you want to deliver your software solution in containers that can run on your customer's Azure Kubernetes Service?
                                </p>
                                <p>
                                    Learn how in this demo-heavy technical course taht takes you step-by-step through the process.
                                </p>                         
                            </div>
                            <a href="{{ url_for('content.playlist', playlist_id='0dc3f87f-e92b-4593-afdd-f6b828b64a4b') }}" class="btn btn-primary">Learn it now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row card-row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mastering Managed Applications offers</h5>
                        <p class="card-text">
                            With a powerful ARM based deployment model, Azure Managed Applications are popular among those who want to deploy resources into the customer's environment, but still maintain control of those resources.
                        </p>
                        <a href="{{ url_for('content.playlist', playlist_id='0dc3f87f-e92b-4593-afdd-f6b828b64a4b') }}" class="btn btn-primary">Learn it now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mastering virtual machine offers</h5>
                        <div class="card-text">
                            <p>
                                Virtual machines are a popular way to deliver solutions to customers. Learn how in this comprehensive course on building VM offers.
                            </p>
                            <p>
                                You'll learn everything from how to package your solution to how to make it available on the Azure marketplace.
                            </p>
                        </div>
                        <a href="{{ url_for('content.playlist', playlist_id='aa318229-e605-4e84-b9cf-260cf452b532') }}" class="btn btn-primary">Learn it now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
