<ul class="nav flex-column">

  <!-- courses section -->
  <li class="nav-item nav-item-header">
    Courses
  </li>

  {% for playlist in nav_model["playlists"] %}
    <li class="nav-item nav-item-sidebar"><a class="nav-link" href="{{ url_for('content.playlist', playlist_id=playlist['id']) }}">{{ playlist["short_name"] }}</a></li>
  {% endfor %}

  <!-- resources section -->
  <li class="nav-item nav-item-header">
    Resources
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="{{ url_for('bonus_content.page', page='choose_your_offer_type') }}">Choose your offer type</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="{{ url_for('bonus_content.page', page='accelerators') }}">Technical accelerators</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="{{ url_for('bonus_content.page', page='playbooks') }}">Marketplace playbooks</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="{{ url_for('content.content_log', num_items=10) }}">What's new on the site</a>
  </li>
  
  <!-- events section -->
  <li class="nav-item nav-item-header">
    Events
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="https://aka.ms/MTMworkshops">Live workshops</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="https://aka.ms/MTMwebinars">Marketplace webinars</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="https://aka.ms/MTMofficehours">Office Hours Q&A</a>
  </li>
  
</ul>