<ul class="nav flex-column">
  <li class="nav-item nav-item-header">
    Courses
  </li>

  {% for playlist in nav_model["playlists"] %}
    <li class="nav-item nav-item-sidebar"><a class="nav-link" href="{{ url_for('content.playlist', playlist_id=playlist['id']) }}">{{ playlist["short_name"] }}</a></li>
  {% endfor %}

  <li class="nav-item nav-item-header">
    Bonus content
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>

  <li class="nav-item nav-item-header">
    Resources
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item nav-item-sidebar">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>

</ul>