<h1 class="main-title">Mastering the Marketplace</h1>

<nav class="navbar navbar-expand-lg sticky-top"">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>
          <!-- Courses (playlists) -->
          <li class="nav-item dropdown">
            <a class="active nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              {% for playlist in nav_model["playlists"] %}
                <li><a class="dropdown-item" href="{{ url_for('content.playlist', playlist_id=playlist['id']) }}">{{ playlist["short_name"] }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <!-- Bonus content -->
          <li class="nav-item dropdown">
            <a class="active nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bonus content
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="{{ url_for('bonus_content.page', page='accelerators') }}">Technical accelerators</a></li>
                <li><a class="dropdown-item" href="{{ url_for('content.content_log', num_items=5) }}">Content change log</a></li>
            </ul>
          </li>
          <!-- contact -->
          <li class="nav-item">
            <a class="nav-link active" target="_blank" href="https://forms.office.com/r/0gCrzhSMkw">Contact us</a>
          </li>
          <!-- User -->
          {% if nav_model["user"] %}
            <li class="nav-item">
              <a class="active nav-link" href="{{ url_for('auth.logout') }}">Sign out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="active nav-link" href="{{ url_for('auth.signin') }}" data-bs-toggle="modal" data-bs-target="#signin_modal">Sign in</a>
            </li>
          {% endif %}
        </ul>

        <!-- search -->
        <form class="d-flex" method="post" action="{{ url_for('search.search_results') }}">
          <input class="form-control me-2" type="search" placeholder="Search content" aria-label="Search"
          name="search_term" maxlength="30">
          <button id="search_button" class="btn text-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  {% if not nav_model["user"] %}

  <form method="post" action="{{ url_for('auth.signin') }}">
    
  <!-- Modal -->
  <div class="modal fade" id="signin_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="signin_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signin_modalLabel">Sign in</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <p>Please provide your company's name and URL to sign in and get full access to all content.</p>
              <p>We do not collect or store any personally identifying information.</p>
            </div>
            <div class="row">
              <label for="companyname" class="form-label">Company name</label>
              <input type="text" class="form-control" id="companyname" name="companyname" minlength="3" maxlength="20" required>
    
              <label for="companyurl" class="form-label">Company URL</label>
              <input type="url" class="form-control" id="companyurl" name="companyurl" minlength="9" maxlength="30" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container-fluid">

            <div class="row">
              <div class="col-sm-6">
                <button type="button" class="btn btn-secondary form-control" data-bs-dismiss="modal">Cancel</button>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary form-control">Sign in</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  </form>

  {% endif %}

  {% block content %}{% endblock %}
