<!-- news_carousel -->
<div class="news-container">
<div id="news_carousel" class="carousel slide carousel-dark" data-bs-touch="false" data-bs-interval="5000" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="https://aka.ms/MTMwebinars" target="_blank">
        <img src="{{ url_for('static', filename = 'carousel-news-items/webinars.png') }}" class="news-image w-100" alt="Webinars" />
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://techcommunity.microsoft.com/t5/marketplace-community/bd-p/Marketplace-Forum" target="_blank">
        <img src="{{ url_for('static', filename = 'carousel-news-items/community.png') }}" class="news-image d-block w-100" alt="community" />
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://aka.ms/MTMofficehours" target="_blank">
        <img src="{{ url_for('static', filename = 'carousel-news-items/officehours.png') }}" class="news-image d-block w-100" alt="Office Hours" />
      </a>
    </div>

  </div>
</div>
</div>
<!-- end news_carousel -->
