{% extends 'base.html' %}
{% block content %}
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <div id="title">{{ model.content['title'] }}</div>
    </div>

    <div class="mb-3">
      <div class="col-auto">
        <label for="description" class="form-label">Description</label>
        <div class="form-control" id="description">{{ model.content['description']|safe }}</div>
      </div>
    </div>

    <div class="mb-3">
      <div class="col-auto">
        <label for="playlists" class="form-label">Playlists</label>
        <div id="playlists" class="list-group">
          {% for playlist_info in model.playlists_info %}
            <div class="list-group-item list-group-item-action">
                <a href="{{ url_for('playlists.playlist_detail', playlist_id = playlist_info['id']) }}">{{ playlist_info['name'] }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-auto short_input">
        <label for="youtube_url" class="form-label">YouTube URL</label>
        <div id="youtube_url">
          <a href="{{ model.content['youtube_url'] }}" target="_blank">{{ model.content['youtube_url'] }}</a>
        </div>
      </div>
      <div class="col-auto short_input">
        <label for="short_url" class="form-label">Short link URL</label>
        <div id="short_url">
          {% if model.content['short_url'] %}
            <a href="{{ model.content['short_url'] }}" target="_blank">{{ model.content['short_url'] }}</a>            
          {% else %}
            None
          {% endif %}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-auto short_input">
        <label class="form-label" for="is_active">Is active</label>
        <div id="is_active">{{ model.content['is_active'] }}</div>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-auto short_input">
        <label for="attachments" class="form-label">Attachments</label>
        <ul id="attachments">
          {% if model.content['slides_url'] %}
          <li><a href="{{ model.content['slides_url'] }}">Slides</a></li>
          {% endif %}
          {% if model.content['pdf_url'] %}
            <li><a href="{{ model.content['pdf_url'] }}">PDF</a></li>
          {% endif %}
          {% if model.content['transcript_url'] %}
            <li><a href="{{ model.content['transcript_url'] }}">Transcript</a></li>
          {% endif %}
          {% if model.content['sample_code_url'] %}
            <li><a href="{{ model.content['sample_code_url'] }}">Sample code</a></li>
          {% endif %}
        </ul>
      </div>
      {% if model.content['video_url'] %}
        <div class="col-auto short_input">
          <label for="video_view" class="form-label">View raw video</label>
          <div id="video_view">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Launch
            </button>
          </div>  
        </div>
      {% endif %}
    </div>

    {% if model.content['notes'] %}
    <div class="mb-3">
      <div class="col-auto">
        <label for="notes" class="form-label">Notes</label>
        <div class="form-control" id="notes">{{ model.content['notes']|safe }}</div>
      </div>
    </div>
    {% endif %}


    <div class="row mb-3">
      <div class="col-auto short_input">
        <label for="id" class="form-label">ID</label>
        <div id="id">{{ model.content['id'] }}</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-auto short_input">
        <label for="date_created" class="form-label">Date created</label>
        <div id="date_created">{{ model.content['date_created'].strftime('%B %d, %Y %H:%M') }}</div>
      </div>
      <div class="col-auto short_input">
        <label for="created_by" class="form-label">Created by</label>
        <div id="created_by">{{ model.content['created_by'] }}</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-auto short_input">
        <label for="date_updated" class="form-label">Date last updated</label>
        <div id="date_updated">{{ model.content["date_updated"].strftime('%B %d, %Y %H:%M') }}</div>
      </div>
      <div class="col-auto short_input">
        <label for="updated_by" class="form-label">Updated by</label>
        <div id="updated_by">{{ model.content['updated_by'] }}</div>
      </div>
    </div>

    <div class="mb-3">
      <a class="btn btn-primary" href="{{ url_for('content.content_edit', content_id = model.content['id']) }}">Edit</a>
    </div>

    {% if model.content['video_url'] %}
      <!--Video viewer modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ model.content['title'] }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <video width="640" height="480" preload="metadata" controls>
                <source src="{{ model.content['video_url'] }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

{% endblock %}
