{% extends 'base.html' %}
{% block content %}

<form id="content_form" action="{{ url_for('content.content_edit', content_id = model.content['id']) }}" method="post">
  <input type="hidden" name="id" value="{{ model.content['id'] }}" />

  <div>
    <h3>Content information</h3>
    <div class="data-container">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" value="{{ model.content['title'] }}" required />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="text-box" id="description" name="description"
          required>{{ model.content['description'] }}</textarea>
      </div>

      <div class="mb-3">
        <div class="col-auto">
          <label for="playlists" class="form-label">Playlists</label>
          <div id="playlists" class="list-group">
            {% for playlist in model.playlists %}
              <div class="list-group-item list-group-item-action">
                {% if playlist["is_selected"] %}
                  <input type="checkbox" title="playlist['name']" class="form-check-input" name="playlist_id" id="playlist_{{ playlist['id'] }}"
                    value="{{ playlist['id'] }}" checked />
                {% else %}
                  <input type="checkbox" title="playlist['name']" class="form-check-input" name="playlist_id" id="playlist_{{ playlist['id'] }}"
                    value="{{ playlist['id'] }}" />                
                {% endif %}
                {{ playlist['name'] }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-auto short_input">
          <label for="youtube_url" class="form-label">YouTube URL</label>
          <input type="url" class="form-control" name="youtube_url" id="youtube_url" value="{{ model.content['youtube_url'] }}" required />
        </div>
        <div class="col-auto short_input">
          <label for="short_url" class="form-label">Short link URL (optional)</label>
          <input type="url" class="form-control" name="short_url" id="short_url" value="{{ model.content['short_url'] }}" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-auto short_input">
          <label class="form-check-label form-label" for="is_active">Is active</label>
          <input type="checkbox" class="form-check-input" name="is_active" id="is_active" {% if model.content['is_active'] %}checked{% endif %} />
        </div>
        <div class="col-auto short_input"></div>
      </div>

      <div class="mb-3">
        <div class="col-auto">
          <label for="notes" class="form-label">Notes</label>
          <p>Notes are used to provide additional information about the content. They are not displayed to the user.</p>
          <div id="notes">
            <textarea id="notes" name="notes" cols="80" rows="6">{{ model.content['notes'] }}</textarea>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="col-auto short_input">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>

    </div>
  </div>
</form>


<div style="padding-top: 30px;">
  <h3>File attachments</h3>
  <div>
    
    <div class="row mb-3">
      <div class="col-auto data-container">
        <label for="video" class="form-label">Video</label>
        <div id="video">
          {% if model.content["video_url"] and model.content["video_url"] != None %}
          <!-- show a delete button -->
          <form action="{{ url_for('content.content_attachment_delete') }}" method="post">
            <a href="{{ model.content['video_url'] }}" class="btn btn-primary btn-sm">Download</a>
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="blob_url" value="{{ model.content['video_url'] }}" />
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
          {% else %}
          <!-- show an upload form -->
          <form class="dropzone" method="post" enctype="multipart/form-data"
            action="{{ url_for('content.content_attachment_add') }}">
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="attachment_type" value="video" />
            <input name="file" type="file" class="file-input" accept=".mp4" />
            <button type="submit" class="btn btn-primary submit-btn" disabled>Upload</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-auto data-container">
        <label for="slides" class="form-label">Slides</label>
        <div id="slides">

          {% if model.content["slides_url"] and model.content["slides_url"] != None %}
          <!-- show a delete button -->
          <form action="{{ url_for('content.content_attachment_delete') }}" method="post">
            <a href="{{ model.content['slides_url'] }}" class="btn btn-primary btn-sm">Download</a>
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="blob_url" value="{{ model.content['slides_url'] }}" />
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
          {% else %}
          <!-- show an upload form -->
          <form class="dropzone" method="post" enctype="multipart/form-data"
            action="{{ url_for('content.content_attachment_add') }}">
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="attachment_type" value="slides" />
            <input name="file" class="file-input" type="file" accept=".pptx" />
            <button type="submit" class="btn btn-sm btn-primary submit-btn" disabled>Upload</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-auto data-container">
        <label for="pdf" class="form-label">PDF</label>
        <div id="pdf">

          {% if model.content["pdf_url"] and model.content["pdf_url"] != None %}
          <!-- show a delete button -->
          <form action="{{ url_for('content.content_attachment_delete') }}" method="post">
            <a href="{{ model.content['pdf_url'] }}" class="btn btn-primary btn-sm">Download</a>
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="blob_url" value="{{ model.content['pdf_url'] }}" />
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
          {% else %}
          <!-- show an upload form -->
          <form class="dropzone" method="post" enctype="multipart/form-data"
            action="{{ url_for('content.content_attachment_add') }}">
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="attachment_type" value="pdf" />
            <input name="file" class="file-input" type="file" accept=".pdf" />
            <button type="submit" class="btn btn-primary submit-btn" disabled>Upload</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-auto data-container">
        <label for="transcript" class="form-label">Transcript</label>
        <div id="transcript">

          {% if model.content["transcript_url"] and model.content["transcript_url"] != None %}
          <!-- show a delete button --> 
          <form action="{{ url_for('content.content_attachment_delete') }}" method="post">
            <a href="{{ model.content['transcript_url'] }}" class="btn btn-primary btn-sm">Download</a>
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="blob_url" value="{{ model.content['transcript_url'] }}" />
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
          {% else %}
          <!-- show an upload form -->
          <form class="dropzone" method="post" enctype="multipart/form-data"
            action="{{ url_for('content.content_attachment_add') }}">
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="attachment_type" value="transcript" />
            <input name="file" class="file-input" type="file" accept=".vtt,.txt" />
            <button type="submit" class="btn btn-primary btn-sm submit-btn" disabled>Upload</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-auto data-container">
        <label for="code" class="form-label">Sample code</label>
        <div id="code">

          {% if model.content["sample_code_url"] and model.content["sample_code_url"] != None %}
          <!-- show a delete button -->
          <form action="{{ url_for('content.content_attachment_delete') }}" method="post">
            <a href="{{ model.content['sample_code_url'] }}" class="btn btn-primary btn-sm">Download</a>
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="blob_url" value="{{ model.content['sample_code_url'] }}" />
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
          {% else %}
          <!-- show an upload form -->
          <form class="dropzone" method="post" enctype="multipart/form-data"
            action="{{ url_for('content.content_attachment_add') }}">
            <input type="hidden" name="content_id" value="{{ model.content['id'] }}" />
            <input type="hidden" name="attachment_type" value="sample_code" />
            <input name="file" class="file-input" type="file" accept=".zip" />
            <button type="submit" class="btn btn-primary submit-btn" disabled>Upload</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>

<div style="margin-top: 30px; margin-bottom: 30px;">
  <h3>More information</h3>
  <div class="data-container">

    <div class="row">
      <div class="col-auto short_input">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" name="id" id="id" value="{{ model.content['id'] }}" disabled />
      </div>
    </div>

    <div class="row">
      <div class="col-auto short_input">
        <label for="date_createdadded" class="form-label">Date created</label>
        <input type="text" class="form-control" name="date_created" id="date_created"
          value="{{ model.content['date_created'].strftime('%B %d, %Y %H:%M') }}" disabled />
      </div>
      <div class="col-auto short_input">
        <label for="created_by" class="form-label">Created by</label>
        <input type="text" class="form-control" name="created_by" id="created_by"
          value="{{ model.content['created_by'] }}" disabled />
      </div>
    </div>

    <div class="row">
      <div class="col-auto short_input">
        <label for="date_updated" class="form-label">Date last updated</label>
        <input type="text" class="form-control" name="date_updated" id="date_updated"
          value="{{ model.content['date_updated'].strftime('%B %d, %Y %H:%M') }}" disabled />
      </div>
      <div class="col-auto short_input">
        <label for="updated_by" class="form-label">Updated by</label>
        <input type="text" class="form-control" name="last_updated_by" id="last_updated_by"
          value="{{ model.content['updated_by'] }}" disabled />
      </div>
    </div>

  </div>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {

      // Enable submit button when a file is selected
      var fileInputs = document.querySelectorAll('.file-input');
      fileInputs.forEach(function(input) {
          input.addEventListener('change', function() {
              if (input.files.length > 0) {
                  var form = input.closest('form');
                  var submitButton = form.querySelector('.submit-btn');
                  submitButton.disabled = false;
              }
          });
      });

          // Change cursor to wait cursor when upload is initiated
      var submitButtons = document.querySelectorAll('.submit-btn');
      submitButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            document.body.style.cursor = 'wait';
        });
      });

    });
  </script>

  {% include 'editor_script.html' %}
  {% include 'playlist_selection_script.html' %}

{% endblock %}