{% extends 'base.html' %}

{% block title %}New on the site{% endblock %}

{% block content %}

<div>
    <h2>New on the site</h2>

    <table class="table table-striped table-hover">`
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Added or updated</th>
          </tr>
        </thead>
        <tbody>
          {% if model %}
            {% for item in model %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="{{ url_for('content.index', content_id = item.id) }}">{{ item.title }}</a></td>
                <td>{{ item.date_updated.strftime('%B %d, %Y') }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>

  </div>

{% endblock %}
