{% extends 'base.html' %}
{% block content %}

    <div class="mb-3">
      <h2 class="content-detail-title">{{ model.content['title'] }}</h2>
    </div>

    <!-- links to video and other artifacts -->
    <div class="mb-3">
      <div class="btn-group content-links" role="group" aria-label="Content links">
        {% if not nav_model["user"] %}
          <a class="btn btn-primary" href="{{ url_for('auth.signin') }}" data-bs-toggle="modal" data-bs-target="#signin_modal">Sign in for content</a>
        {% else %}
          <a class="btn btn-primary" href="{{ model.content['youtube_url'] }}" target="_blank">Video</a>
          {% if model.content['pdf_url'] %}
            <a class="btn btn-primary" href="{{ model.content['pdf_url'] }}">PDF</a>
          {% endif %}
          {% if model.content['sample_code_url'] %}
            <a class="btn btn-primary" href="{{ model.content['sample_code_url'] }}">Sample code</a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <!-- description -->
    <div class="mb-3">
      <div id="description">{{ model.content['description']|safe }}</div>
    </div>

    <!-- playlists -->
    <div class="mb-3">
      <label for="playlists" class="form-label">This content lives in these courses</label>
      <div id="playlists" class="list-group list-group-flush">
        {% for playlist_info in model.playlists_info %}
          <div class="list-group-item list-group-item-action">
              <a href="{{ url_for('content.playlist', playlist_id = playlist_info['id']) }}">{{ playlist_info['name'] }}</a>
          </div>
        {% endfor %}
      </div>
    </div>


    <!-- 
      Remove all links from description if user is not signed in
     -->
    <script>
      window.onload = function() {

        var userIsLoggedIn = '{{ nav_model["user"] }}';

        if (userIsLoggedIn != 'None') {
          return;
        }

        var descriptionDiv = document.getElementById('description');
        var anchorTags = descriptionDiv.getElementsByTagName('a');
    
        while(anchorTags.length > 0) {
            var anchorTag = anchorTags[0];
            var parent = anchorTag.parentNode;
            while(anchorTag.firstChild) {
                parent.insertBefore(anchorTag.firstChild, anchorTag);
            }
            parent.removeChild(anchorTag);
        }
    }
    </script>

{% endblock %}
