{% extends 'base.html' %}
{% block content %}
    <div class="mb-3">
      <h2 class="content-detail-title">{{ model.content['title'] }}</h2>
    </div>
    <div class="mb-3">
        <div id="description">{{ model.content['description']|safe }}</div>
    </div>

    <!-- links to video and other artifacts -->
    <div class="mb-3">
      <div class="btn-group content-links" role="group" aria-label="Content links">
        {% if not nav_model["user"] %}
          <a class="btn btn-primary btn-primary-active" href="{{ url_for('auth.login') }}">Sign in for content</a>
        {% else %}
          <a class="btn btn-primary btn-primary-active" href="{{ model.content['youtube_url'] }}" target="_blank">Video</a>
          {% if model.content['pdf_url'] %}
            <a class="btn btn-primary btn-primary-active" href="{{ model.content['pdf_url'] }}">PDF</a>
          {% endif %}
          {% if model.content['sample_code_url'] %}
            <a class="btn btn-primary btn-primary-active" href="{{ model.content['sample_code_url'] }}">Sample code</a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="mb-3">
      <label for="playlists" class="form-label">Playlists</label>
      <div id="playlists" class="list-group list-group-flush">
        {% for playlist_info in model.playlists_info %}
          <div class="list-group-item list-group-item-action">
              <a href="{{ url_for('content.playlist', playlist_id = playlist_info['id']) }}">{{ playlist_info['name'] }}</a>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
