{% extends 'base.html' %}
{% block content %}

<form action="{{ url_for('content.content_add') }}" method="post" id="content_form">
  <h3>Add a new module</h3>

  <div class="data-container">

    <div>
      <div class="col-auto">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" required />
      </div>
    </div>

    <div>
      <div class="col-auto">
          <label for="description" class="form-label">Description</label>
          <textarea class="text-box" id="description" name="description" required></textarea>
      </div>
    </div>

    <div>
      <div class="col-auto">
        <label for="playlists" class="form-label">Playlists</label>
        <div id="playlists" class="list-group">
          {% for playlist in playlists %}
            <div class="list-group-item list-group-item-action">
              <input type="checkbox" title="playlist['name']" class="form-check-input" name="playlist_id" id="playlist_{{ playlist['id'] }}" value="{{ playlist['id'] }}" />
              {{ playlist['name'] }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-auto short_input">
        <label for="youtube_url" class="form-label">YouTube URL</label>
        <input type="url" class="form-control" name="youtube_url" id="youtube_url" required />
      </div>
      <div class="col-auto short_input">
        <label for="short_url" class="form-label">Short link URL (optional)</label>
        <input type="url" class="form-control" name="short_url" id="short_url" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-auto short_input">
        <div class="mb-3 form-check">
          <label class="form-check-label" name="is_active" for="is_active">Is active</label>
          <input type="checkbox" class="form-check-input" name="is_active" id="is_active" value="True" checked />
        </div>
      </div>
      <div class="col-auto short_input"></div>
    </div>
  



    <div class="mb-3">
      <h3>Notes</h3>
      <p>Notes are used to provide additional information about the module. They are not displayed to the user.</p>
      <div>
        <textarea id="notes" name="notes" cols="80" rows="6"></textarea>
      </div>      
    </div>
    
    <div class="mb-3">
      <div class="col-auto short_input">
        <button id="submit" type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

  </form>

  {% include 'editor_script.html' %}

  {% include 'playlist_selection_script.html' %}
  
{% endblock %}
