{% extends 'base.html' %}
{% block content %}

  <h3 class="content-detail-title">{{ model["name"] }}</h3>
  
  <div>
    {{ model["description"] | safe }}
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>

      {% for content in model["content"]: %}
      <tr>
        <th scope="row">{{ loop.index }} </th>
        <td><a href="{{ url_for('content.index', content_id=content['id']) }}">{{ content["title"] }}</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}