{% extends 'base.html' %}

{% block title %}Choose your offer type{% endblock %}

{% block content %}

<h2>Choose your offer type</h2>

<p>
    One of the first decisions to make in your amrketplace journey is what type of offer you want to create.
    This page has resources to walk you throught this decision.
</p>
<p>
    Primary considerations for choosing an offer type include billing options and deployment architectures. 
</p>

<div>
    <img src="{{ url_for('bonus_content.static', filename='choose_your_offer_type.avif') }}" width="900px" alt="Offer type image">
</div>

{% endblock %}