{% extends 'base.html' %}

{% block content %}

    <h2>Placeholder</h2>
    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Gravida neque convallis a cras. Pharetra diam sit amet nisl suscipit adipiscing bibendum est. 
    </p>
    <p>
        Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. 
    </p>

{% endblock %}
