{% extends 'base.html' %}

{% block title %}Marketplace Playbooks{% endblock %}

{% block content %}

<h2>Marketplace Playbooks</h2>

<p>
    Playbooks are comprehensive guides that provide readers with knowledge and resources to work effectively with the Microsoft commercial marketplace. 
</p>
    

<div>
    <h3>Microsoft Marketplace Playbook for partners</h3>
    
    <p>
        <a class="btn btn-primary" href="{{ url_for('bonus_content.static', filename='Microsoft Marketplace Playbook 6.pdf') }}">View the playbook</a>
    </p>  
    
    <p>
        The Microsoft Marketplace Playbook for partners serves as a comprehensive guide to help partners navigate the Microsoft ecosystem. It is designed to provide partners with the skills, resources, and access to the latest technology to evolve their competencies and stand out in a competitive marketplace.
    </p>
    <p>
        The guide provides a detailed overview of the partner journey, from onboarding to publishing and growth. It covers account setup, offer creation, selecting the offer type, and technical integration. The guide also provides information on co-selling, private offers, and custom deals. It includes a checklist for publishing any transactable offer and details on the requirements and benefits of IP Co-Sell.
    </p>
    <p>
        The guide also covers marketplace rewards, incentives, and insights. It provides resources for mastering the marketplace, including links to documentation, demos, and tutorials. The guide is a comprehensive resource for ISVs looking to publish their solutions on the Microsoft commercial marketplace and grow their business in partnership with Microsoft.
    </p>
</div>

{% endblock %}