.main {
    margin-top: 30px;
}

.accordion-button {
    box-shadow: none !important;
    color: #000 !important;
    font-weight: bold;
    font-size: large;
}

.accordion-button:not(.collapsed) {
    background-color: #adb5bd!important;
    box-shadow: none !important;
    color: #000 !important;
    font-weight: bold;
    font-size: large;
}

.bg-primary {
    background-color: #3b2e58!important;
}

.body {
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    color: #fff;
    background-color: #3b2e58;
    border-color: #3b2e58;
}

.card-row {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-text {
    height: 180px;
}

.content-detail-title {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-links {
    margin-bottom: 20px;
}

.data-container {
    border: 1px solid rgba(0,0,0,.8);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
    width:100%;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    color: #3b2e58!important;
    background-color: #fff;
    font-weight: bold;
}

.dropdown-menu {
    border-radius: 4px;
    border: 0px;
    background-color: #3b2e58;
}


.dropzone {
    border: 0px;
    border-radius: 0px;
    padding-bottom: 10px;
}

.form-label {
    font-weight: bold;
}

.list-item-content-title {
    font-size: 15pt;
}

.main-title {
    margin-bottom: 20px;
}

.modal-body {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.navbar {
    margin-bottom: 20px;
    background-color: #3b2e58;
}

.navbar a, .navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
    color: white;
}

.navbar a:hover {
    color: white;
}

.navbar ul {
    color: #fff;
}

.news-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;  /* or any specific width */
    justify-content: center;
}

.nav-item-header {
    font-weight: bold;
    color: #3b2e58;
}

.nav-item-sidebar a, .nav-item-sidebar a:link, .nav-item-sidebar a:visited, .nav-item-sidebar a:active {
    font-size: small;
    color: #3b2e58;

}

.nav-item-sidebar a:hover {
    background-color: #f8f9fa;
}


.news-image {
    width: auto;
    height: auto;
}

.news-item {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.short_input {
    padding: 10px;
    width: 50%;
}