.main {
    margin-top: 50px;
    width: 70%;
    /* margin-bottom: 50px; */
}

.navbar {
    margin-bottom: 20px;
    border-radius: 8px;
}

.short_input {
    width: 50%;
}

.form-label {
    font-weight: bold;
}

.data-container {
    border: 1px solid rgba(0,0,0,.8);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
    width:100%;
}

.short_input {
    padding: 10px;
}

.dropzone {
    border: 0px;
    border-radius: 0px;
    padding-bottom: 10px;
}

.modal-body {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.card-row {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-text {
    height: 180px;
}

.dropdown-menu {
    border-radius: 8px;
    border: 1px solid blue;
}

.list-item-content-title {
    font-size: 15pt;
}

.content-detail-title {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-links {
    margin-bottom: 20px;
}

.accordion-button:not(.collapsed) {
    background-color: #adb5bd!important;
    box-shadow: none !important;
    color: #000 !important;
    font-weight: bold;
    font-size: large;
}

.accordion-button {
    box-shadow: none !important;
    color: #000 !important;
    font-weight: bold;
    font-size: large;
}

