{% extends 'base.html' %}

{% block title %}Search results{% endblock %}

{% block content %}
    <h2>Results for "{{ model.get_search_term()}}"</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for result in model.get_search_results() %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a href="{{ url_for('content.index', content_id=result['id']) }}" class="">{{ result['title'] }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
